// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Spinner loader color
$spinner-color: #1976d2;

// Responsive scaler
$scaler: 2vw;

// Title font size
$titleMinFontSize: 1rem;
$titleMaxFontSize: 1.5rem;

// Modal padding
$modalMinPadding: 1rem;
$modalMaxPadding: 2rem;

// Title top margin
$titleMinTopMargin: .5rem;
$titleMaxTopMargin: 1rem;

// Item top margin
$itemMinTopMargin: 1rem;
$itemMaxTopMargin: 2rem;

// Item width
$item-width: 48.25%;
$item-width-sm: 48.25%;
$item-width-md: 48.25%;
$item-width-lg: 31%;
$item-width-xl: 31%;

// Horizontal space between items
$gutter-size: 3.5%;
$gutter-size-sm: 3.5%;
$gutter-size-md: 3.5%;
$gutter-size-lg: 3.5%;
$gutter-size-xl: 3.5%;